<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Metrophobic&family=Montserrat:wght@100;200;300;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Digital Hard</title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <!-- CONTENIDO - INICIO -->
    <section>
      <div class="cart-container">
        <div class="product">
          <h3><i class="fas fa-cart-shopping"></i> Resumen de compra</h3>
          <% cart.products.forEach(product=> { %>
          <%-include('./partials/cartCard', { product }) %> <%})%>
        </div>

        <div class="summary-container">
          <div class="summary">
            <p><i class="far fa-clipboard"></i> Resumen</p>
          </div>

          <div class="discount-summary">
            <div class="subtotal">
              <p>Subtotal</p>
              <p>$<%= cart.subtotal %></p>
            </div>
            <div class="discount">
              <p>Descuento</p>
              <p>$<%= cart.discount %></p>
            </div>
          </div>

          <br />

          <div class="cart-summary">
            <div class="total">
              <p>Total</p>
              <p>$<%= cart.total %></p>
            </div>
            <button id="checkout-button">Proceder al pago</button>
          </div>
        </div>
      </div>
    </section>
    <!-- CONTENIDO - FINAL -->

    <%- include('./partials/footer.ejs') %>
  </body>

  <script src="/js/index.js"></script>
</html>
