<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <!-- CONTENIDO -->

      <section class="box">
        <% if(product){ %>
        <div class="breadcrumb">
          <nav class="breadcrumb-nav">
            <ul class="breadcrumb-items">
              <li>
                <a href="/">DigitalHard</a>
                <i class="fa-solid fa-chevron-right"></i>
              </li>
              <li>
                <a><%= product.subcategory.category.name %> </a
                ><i class="fa-solid fa-chevron-right"></i>
              </li>
              <li>
                <a><%= product.subcategory.name %> </a
                ><i class="fa-solid fa-chevron-right"></i>
              </li>
              <li><a><%= product.name %></a></li>
            </ul>
          </nav>
        </div>
        <div class="content">
          <div class="product-images-container">
            <div class="main-image">
              <img id="main-image" src="/images/products/<%= product?.mainImage %>" alt="" />
            </div>
            <div class="other-images">
              <img src="/images/products/<%= product.mainImage %>" alt="" />
              <% if(product.images) { %> <% product.images.forEach(image=> { %>
              <img src="/images/products/<%= image.url %>" alt="" />
              <%})%> <% } %>
            </div>
          </div>
          <div class="product-details-container">
            <div class="name-product"><%= product.name %></div>
            <div class="price">
              <i class="fa-solid fa-dollar-sign"></i><%= product.price %>
            </div>
            <div class="payment-methods">
              <img src="/images/MercadoPago.png" alt="" />
              <p>Pagá con Mercado Pago</p>
            </div>
            <div class="calculate">
              <select class="select_envio" name="calculate" id="calculate">
                <option value="">Calcular mi envio</option>
              </select>
            </div>
            <div class="stock">
              <p>Stock: </p>
              <input id="stock" value="<%= product.stock || "Sin stock" %>" disabled="disabled"></input>
            </div>
            <div class="quantity">
              <p>Cantidad</p>
              <div class="group-button">
                <button id="btn-minus">-</button>
                <input
                  id="quantity-value"
                  data-quantity="1"
                  class="quantity-view"
                  type="number"
                  min="1"
                  value="1"
                  ></input>
                <button id="btn-plus">+</button>
              </div>
            </div>
            <div class="actions-buttons">
              <button class="add-cart" id="add-cart" data="<%= product.id %>">
                <i class="fa-solid fa-cart-shopping"></i> Agregar al carrito
              </button>
              <button class="buy-now" id="buy-now" data="<%= product.id %>">Comprar ahora</button>
            </div>
          </div>
        </div>
      </section>
      <!-- 1er card -->
      <section class="box">
        <h3 class="title">Completá tu combo</h3>
        <div class="product-cards-normal">
          <div class="product-cards">
            <% products.forEach(product=> { %>
            <%-include('./partials/productCard', {product}) %> <%})%>
          </div>
        </div>
      </section>
      <!-- Description -->
      <section class="box-toggle">
        <div class="toggle-description">
          <button
            id="button-description-toggle"
            class="button-description-toggle"
          >
            Caracteristicas<i class="fa-solid fa-chevron-down"></i>
          </button>
          <p><%= product.description %></p>
        </div>
      </section>
      <!-- tablas -->
      <section class="box">
        <div class="toggle-specs">
          <h3 class="title-specs">Epecificaciones</h3>
          <button id="button-specs-toggle" class="button-specs-toggle">
            Especificaciones<i class="fa-solid fa-chevron-down"></i>
          </button>
        </div>
        <div class="table-content" id="table-content">
          <% specifications.forEach(item => { %>
          <%-include('./partials/especificationTable', { item }) %> <%})%>
        </div>
        <% }else{ %>
        <h3 class="title">Lo siento!! No encontramos el producto</h3>
        <% } %>
      </section>
      <!-- 2do card -->
      <section class="box">
        <h3 class="title">Otros productos que te pueden interesar</h3>
        <div class="product-cards-normal">
          <div class="product-cards">
            <% products.forEach(product=> { %>
            <%-include('./partials/productCard', {product}) %> <%})%>
          </div>
        </div>
      </section>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>

  <script src="/js/index.js"></script>
  <script src="/js/productDetail.js"></script>
</html>
