<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head.ejs', {styles}) %>

  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <section id="gallery" class="box">
        <div class="nav-button prev-button"><i class="fas fa-chevron-left"></i></div>
          <div class="gallery-container">
            <div class="gallery-item">
              <a href="/products"><img src="/images/Componentes-de-PC.png" alt="Imagen 1" /></a>
            </div>
            <div class="gallery-item">
              <a href="/build"><img src="/images/BANNER-ARMAR-PC.png" alt="Imagen 2" /></a>
            </div>
            <div class="gallery-item">
              <a href="/products/6"><img src="/images/RTX3080.jpg" alt="Imagen 3" /></a>
            </div>
            <!-- ... otras imágenes ... -->
          </div>
          <div class="nav-button next-button"><i class="fas fa-chevron-right"></i></div>
      </section>
      <section class="box">
        <h2 class="title">NOVEDADES</h2>
        <div class="product-cards-slider">
          <div><i class="fas fa-chevron-left"></i></div>
          <div class="product-cards">
            <% products.forEach(product=> { %>
            <%-include('./partials/productCard', {product}) %> <%})%>
          </div>
          <div><i class="fas fa-chevron-right"></i></div>
        </div>
      </section>
      <section class="box">
        <h2 class="title">PROMOCIONES</h2>
        <div class="product-cards-slider">
          <div><i class="fas fa-chevron-left"></i></div>
          <div class="product-cards">
            <% productsOff.forEach(product=> { %>
            <%-include('./partials/productCard', {product}) %> <%})%>
          </div>
          <div><i class="fas fa-chevron-right"></i></div>
        </div>
      </section>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
  <script src="/js/index.js"></script>
  <script src="/js/home.js"></script>
</html>
