<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <section class="box box-carousel">
        <div class="carousel">
          <div class="arrow"><i class="fas fa-chevron-left"></i></div>
          <div class="carousel-slider">
            <div class="product-info">
              <h3>amd radeon rx 79000 xt</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo id
                modi quis repellendus nam illo ex quisquam iusto aspernatur
                corporis maiores cum hic quidem nemo perspiciatis, molestiae
                vero iste sunt?
              </p>
              <button class="buy-now">Comprar ahora</button>
            </div>
            <div class="product-img">
              <img src="images/products-images/amd-radeon-7900xt.png" alt="" />
            </div>
          </div>
          <div class="arrow"><i class="fas fa-chevron-right"></i></div>
        </div>
      </section>

      <section class="box">
        <h2 class="title">NOVEDADES</h2>
        <div class="product-cards-slider">
          <div><i class="fas fa-chevron-left"></i></div>
          <div class="product-cards">
            <% products.forEach(product=> { %>
            <%-include('./partials/productCard', {product}) %> <%})%>
          </div>
          <div><i class="fas fa-chevron-right"></i></div>
        </div>
      </section>
      <section class="box">
        <h2 class="title">PROMOCIONES</h2>
        <div class="product-cards-slider">
          <div><i class="fas fa-chevron-left"></i></div>
          <div class="product-cards">
            <% productsOff.forEach(product=> { %>
            <%-include('./partials/productCard', {product}) %> <%})%>
          </div>
          <div><i class="fas fa-chevron-right"></i></div>
        </div>
      </section>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
  <script src="/js/index.js"></script>
</html>
