<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>

    <!-- CONTENIDO -->
    <% if(product){ %>
    <div class="content">
      <div class="product-images-container">
        <div class="main-image">
          <img id="main-image" src="<%= product.img[0] %>" alt="" />
        </div>
        <div class="other-images">
          <% product.img.forEach(image=> { %>
          <img src="<%= image %>" alt="" />
          <%})%>
        </div>
      </div>
      <div class="product-details-container">
        <div class="name-product"><%= product.name %></div>
        <div class="price">$ <%= product.price %></div>

        <div class="payment-methods">
          Pagá con Mercado Pago<br /><img
            src="/images/MercadoPago.png"
            alt=""
          />
        </div>
        <div class="calculate">
          <select class="select_envio" name="calculate" id="calculate">
            <option value="">Calcular mi envio</option>
          </select>
        </div>
        <div class="quantity">
          Cantidad
          <div class="group-button">
            <button id="btn-minus">-</button>
            <span id="quantity-value" data-quantity="0" class="quantity-view"
              >0</span
            >
            <button id="btn-plus">+</button>
          </div>
        </div>
        <div class="actions-buttons">
          <button id="btn-add">Agregar al carrito</button>
          <button id="btn-buy">Comprar</button>
        </div>
      </div>
    </div>

    <div class="product-cards-normal">
      <h3 class="product-tittle">Completá tu combo</h3>
      <div class="product-cards">
        <% products.forEach(product=> { %> <%-include('./partials/productCard',
        {product}) %> <%})%>
      </div>
    </div>

    <div class="table-content">
      <% product.especification.forEach(item => { %>
      <%-include('./partials/especificationTable', { item }) %> <%})%>
    </div>
    <% }else{ %>
    <h3 class="product-tittle">Lo siento!! No encontramos el producto</h3>
    <% } %>
    <div class="product-cards-normal">
      <h3 class="product-tittle">Otros productos que te pueden interesar</h3>
      <div class="product-cards">
        <% products.forEach(product=> { %> <%-include('./partials/productCard',
        {product}) %> <%})%>
      </div>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>

  <script src="/js/index.js"></script>
  <script src="/js/productDetail.js"></script>
</html>
