<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head.ejs',{styles}) %>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <h2 class="view-title">
        Editar Producto
      </h2>
      <div class="edit-form">
        <form action="/products/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data" id="edit-form">
          <section>
            <h4>Información General</h4>
            <div class="input-container">
              <label for="name">Nombre de Producto</label>
              <input type="text" id="name" name="name" value="<%= product.name %>" />
            </div>
            <div class="input-container">
              <label for="brand">Marca</label>
              <select name="brand" id="brand">
                <% brands.forEach(brand => { %>
                  <option value="<%= brand.id %>" id="<%= brand.name %>" <%= product.brand_id === brand.id && 'selected' %>>
                    <%= brand.name %>
                  </option>
                <%}); %>
              </select>
            </div>
            <div class="input-group">
              <div class="input-container">
                <label for="price">Precio</label>
                <input type="number" id="price" name="price" min="0" value="<%= product.price %>" />
              </div>
              <div class="input-container">
                <label for="discount">Descuento (%)</label>
                <input type="number" id="discount" name="discount" min="0" max="100" value="<%= product.discount %>" />
              </div>
            </div>
            <div class="input-container">
              <label for="description">Descripción del producto</label>
              <textarea name="description" id="description" rows="5"><%= product.description %></textarea>
            </div>
          </section>
          <section>
            <h4>Imágen Principal</h4>
            <div class="file-input">
              <label for="mainImage">+</label>
              <input
                type="file"
                id="mainImage"
                name="mainImage"
                accept=".png, .jpg, .jpeg, .webp"
              />
              <div id="main-preview" class="preview">
                <% if(product.mainImage){ %>
                <div class="image-container" id="<%= product.mainImage %>">
                  <img src="/images/products/<%= product.mainImage %>" alt="img-preview" class="preview-img" id="product-image">
                  <div class="overlay">
                    <div class="overlay-text">X</div>
                  </div>
                </div>
                <% } %>
              </div>
            </div>
          </section>
          <section>
            <h4>Otras imágenes</h4>
            <div class="file-input">
              <label for="images">+</label>
              <input
                type="file"
                id="images"
                name="images"
                multiple
                accept=".png, .jpg, .jpeg, .webp"
              />
              <div id="preview" class="preview"><% product.images.forEach(image => { %>
                <div class="image-container" id="<%= image.url %>">
                  <img src="/images/products/<%= image.url %>" alt="img-preview" class="preview-img">
                  <div class="overlay">
                    <div class="overlay-text">X</div>
                  </div>
                </div>
              <% }); %></div>
            </div>
            <div class="file-info">
              <p><i class="fas fa-info"></i></p>
              <p>Solo están permitidos archivos .png, .jpg, .jpeg y .webp</p>
            </div>
          </section>
          <section>
            <h4>Categorías</h4>
            <div class="box-search">
              <i class="fa-solid fa-magnifying-glass"></i>
              <input type="text" placeholder="Buscar Categorías..." />
            </div>
            <div class="category-radio" id="categories">
              <% categories.forEach(category => { %>
              <p><%= category.name %></p>
              <% category.subcategories.forEach(subcategory => { %>
              <label class="category-label">
              <p><%= category.name %></p>
              <% category.subcategories.forEach(subcategory => { %>
              <label class="category-label">
                <input
                  type="radio"
                  id="<%= subcategory.name %>"
                  name="subcategory"
                  value="<%= subcategory.id %>"
                  <%= (product.subcategory_id == subcategory.id) && "checked"  %>
                />
                <%= subcategory.name %>
              </label>
              <% }); %> <%}); %>
              <% }); %> <%}); %>
            </div>
          </section>
          <section>
            <h4>Atributos</h4>
            <div id="simple-product-form" class="input-container">
              <label for="stock">Stock</label>
              <input
                type="number"
                name="stock"
                id="stock"
                min="0"
                value="<%= product.stock %>"
              />
            </div>
          </section>
          <section>
            <h4>Especificaciones</h4>
            <div id="specifications">
              <%- include('./partials/specification.ejs', {  specification: specifications}) %>
            </div>
            <div class="input-container">
              <button type="button" id="btn-add-specification">Añadir</button>
            </div>
          </section>
          <div class="submit">
            <input type="submit" id="submit" value="Editar"/>
          </div>
        </form>
        <form action="/products/<%= product.id %>?_method=DELETE" method="POST">
            <div class="submit">
              <input type="submit" id="delete" value="Eliminar"/>
            </div>
			  </form>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
  <script src="/js/index.js"></script>
  <script src="/js/editProduct.js" ></script>
</html>
