<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <h2 class="view-title">Productos</h2>
      <div class="full-view">
        <section class="sidebar">
          <div class="sidebar-container">
            <div class="categories sidebar-section">
              <div class="sidebar-heading" id="categories">
                <h4>Categoría</h4>
                <i class="fas fa-chevron-down"></i>
              </div>
              <ul id="categories-options">
                <% categories.forEach( data => {%>
                <li><p><%= data.name %></p></li>
                <% } ) %>
              </ul>
            </div>
            <form action="">
              <div class="brands sidebar-section">
                <div class="sidebar-heading">
                  <h4>Marca</h4>
                  <i class="fas fa-chevron-down"></i>
                </div>
                <div class="brands-options">
                  <% brands.forEach( data => { %>
                  <div class="checkbox-container">
                    <label class="control control-checkbox">
                      <input
                        type="checkbox"
                        id="<%= data.name %>"
                        name="<%= data.name %>"
                        value="<%= data.name %>"
                      />
                      <%= data.name %>
                      <div class="control-indicator"></div>
                    </label>
                  </div>
                  <% } ) %>
                </div>
              </div>
              <div class="price sidebar-section">
                <div class="sidebar-heading">
                  <h4>Precio ($)</h4>
                  <i class="fas fa-chevron-down"></i>
                </div>
                <div class="price-picker">
                  <div class="price-range">
                    <div class="price-range-box">
                      <label for="min">Min</label>
                      <input type="text" id="min" name="min" />
                    </div>
                    <div class="price-range-box">
                      <label for="max">Max</label>
                      <input type="text" id="max" name="max" />
                    </div>
                  </div>
                  <input
                    type="range"
                    id="price"
                    name="price"
                    min="0"
                    max="62499"
                  />
                </div>
              </div>
            </form>
          </div>
        </section>
        <div class="main-section">
          <div class="filters-container">
            <div class="filters-applied-info">
              <div class="results"><p>8 Resultados</p></div>
              <div class="filters-applied-container">
                <div class="applied"><p>Filtros:</p></div>
                <div class="filter-applied">
                  <p>Redragon</p>
                  <i class="fas fa-times"></i>
                </div>
                <div class="filter-applied">
                  <p>Periféricos</p>
                  <i class="fas fa-times"></i>
                </div>
                <div class="filter-applied">
                  <p>Desde $0 a $7500</p>
                  <i class="fas fa-times"></i>
                </div>
              </div>
            </div>
            <div class="selectors-container">
              <div class="filter-selector">
                <h4>Filtrar</h4>
                <i class="fas fa-chevron-down"></i>
              </div>
              <div class="sort-selector">
                <h4>Ordenar</h4>
                <i class="fas fa-chevron-down"></i>
              </div>
            </div>
          </div>
          <div class="products-list">
            <div class="product-cards">
              <% products.forEach(product=> { %>
              <%-include('./partials/productCard', {product}) %> <%})%>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>

  <script src="/js/index.js"></script>
</html>
