<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head.ejs', {styles}) %>
  <body>
    <%- include('./partials/header.ejs') %>
    <div>
      <h2 class="view-title">Mi Cuenta</h2>
      <div class="profile-container">
        <form action="/user/profile/data" method="POST">
          <h4>Datos Personales</h4>
          <div class="input-group">
            <div class="input-container">
              <label for="firstName">Nombre</label>
              <input
                type="text"
                id="firstName"
                name="firstName"
                value="<%= locals.user?.firstName && user?.firstName%>"
              />
              <% if(locals.errors?.firstName) { %>
              <p class="error"><%= errors.firstName.msg %></p>
              <% } %>
            </div>
            <div class="input-container">
              <label for="lastName">Apellido</label>
              <input
                type="text"
                id="lastName"
                name="lastName"
                value="<%= locals.user?.lastName && user?.lastName %>"
              />
              <% if(locals.errors?.lastName) { %>
              <p class="error"><%= errors.lastName.msg %></p>
              <% } %>
            </div>
          </div>
          <div class="input-container">
            <label for="email">Correo electrónico</label>
            <input
              type="email"
              id="email"
              name="email"
              disabled
              value="<%= locals.user?.email && user?.email %>"
            />
            <% if(locals.errors?.email) { %>
            <p class="error"><%= errors.email.msg %></p>
            <% } %>
          </div>
          <div class="submit">
            <input type="submit" id="submit" value="Guardar" />
          </div>
        </form>
        <form action="/user/profile/data" method="POST">
          <h4>Direcciones</h4>
          <% locals.addresses?.map((address, index) => { if(addresses.length >
          1) { %>
          <h5>Dirección <%= index + 1 %></h5>
          <%} %>
          <div class="input-group">
            <div class="input-container">
              <label for="street">Calle</label>
              <input
                type="text"
                id="street"
                name="street"
                value="<%= address?.street%>"
              />
              <% if(locals.errors?.street) { %>
              <p class="error"><%= errors.street.msg %></p>
              <% } %>
            </div>
            <div class="input-container">
              <label for="streetAddress">Número</label>
              <input
                type="text"
                id="streetAddress"
                name="streetAddress"
                value="<%= address?.streetAddress %>"
              />
              <% if(locals.errors?.lastName) { %>
              <p class="error"><%= errors.lastName.msg %></p>
              <% } %>
            </div>
          </div>
          <div class="input-group">
            <div class="input-group-sm">
              <div class="input-container">
                <label for="floorNumber">Piso</label>
                <input
                  type="text"
                  id="floorNumber"
                  name="floorNumber"
                  value="<%= address?.floorNumber %>"
                />
                <% if(locals.errors?.floorNumber) { %>
                <p class="error"><%= errors.floorNumber.msg %></p>
                <% } %>
              </div>
              <div class="input-container">
                <label for="flatLetter">Departamento</label>
                <input
                  type="text"
                  id="flatLetter"
                  name="flatLetter"
                  value="<%= address?.flatLetter %>"
                />
                <% if(locals.errors?.flatLetter) { %>
                <p class="error"><%= errors.flatLetter.msg %></p>
                <% } %>
              </div>
            </div>
            <div class="input-container">
              <label for="postal">Código Postal</label>
              <input
                type="text"
                id="postal"
                name="postal"
                value="<%= address?.postal %>"
              />
              <% if(locals.errors?.postal) { %>
              <p class="error"><%= errors.postal.msg %></p>
              <% } %>
            </div>
          </div>
          <div class="input-group">
            <div class="input-container">
              <label for="city">Ciudad</label>
              <input
                type="text"
                id="city"
                name="city"
                value="<%= address?.city%>"
              />
              <% if(locals.errors?.city) { %>
              <p class="error"><%= errors.city.msg %></p>
              <% } %>
            </div>
            <div class="input-container">
              <label for="province">Provincia</label>
              <input
                type="text"
                id="province"
                name="province"
                value="<%= address?.province %>"
              />
              <% if(locals.errors?.province) { %>
              <p class="error"><%= errors.province.msg %></p>
              <% } %>
            </div>
          </div>
          <% }) %>
          <div class="submit">
            <input type="submit" id="submit" value="Guardar" />
          </div>
        </form>
      </div>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
  <script src="/js/index.js"></script>
</html>
